<!DOCTYPE html>
<html>



<include file="public:header"/>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Bootstrap table <a href="http://bootstrap-table.wenzhixin.net.cn/zh-cn/" target="_blank">http://bootstrap-table.wenzhixin.net.cn/zh-cn/</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <!--<h4 class="example-title">事件</h4>-->
                        <div class="example">
                            <div class="alert alert-success" id="examplebtTableEventsResult" role="alert">
                                事件结果
                            </div>
                            <!--<div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">-->
                                <!--<button type="button" class="btn btn-outline btn-default">-->
                                    <!--<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-outline btn-default">-->
                                    <!--<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-outline btn-default">-->
                                    <!--<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>-->
                                <!--</button>-->
                            <!--</div>-->
                            <table id="table"></table>
                        </div>
                    </div>
                    <!-- End Example Events -->
            </div>
            </div>
        </div>
    </div>
</div>

<include file="public:footer_js"/>
<script>
    $('#table').bootstrapTable({
        url: '{:U("admin/getAdminList")}',
        columns: [{
            field: 'id',
            title: 'Item ID'
        }, {
            field: 'name',
            title: 'Item Name'
        }, {
            field: 'price',
            title: 'Item Price'
        }, ]
    });
</script>
</body>


</html>
