<script src="__PUBLIC__/static/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/static/js/admin/layer.min.js"></script>
<script src="__PUBLIC__/static/js/admin/content.min.js?v=1.0.0"></script>
<!--<script src="__PUBLIC__/static/js/admin/welcome.min.js"></script>-->
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>